# Core libraries
joblib
numpy

# Audio processing
librosa
soundfile
ffmpeg-python

# Deep learning
openai-whisper
tensorflow
transformers
torch
torchaudio

# Matching
rapidfuzz

# Web/API
Flask
requests 